

<body>
   <p name="primerParagraf">Paràgraf 1 DOM</p>
   <p id="segonParagraf">Paràgraf 2 DOM</p>
   <p>Paràgraf 3 DOM</p>
   <script>
      var paragrafs = document.getElementsByTagName("p");
      var primerParagraf = document.getElementsByName("primerParagraf")[0];
      var segonParagraf = document.getElementById("segonParagraf");
   </script>
</body>
